{% extends 'base.html' %}
{% load static %}
{% block title %}카테고리별 - 부엉아 밥먹자{%endblock%}
{% block link %}
{%endblock%}
{% block content %}
<section class="featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>메뉴 선택</h1>
                </div>
            </div>
        </div>
        <div class="row featured isotope">
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.0.id 0 %}">
                    <img src="{% static 'images/korean.png' %}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.0}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.1.id 0 %}">
                    <img src="{% static 'images/chinese.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.1}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-1 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.2.id 0 %}">
                    <img src="{% static 'images/italian.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.2}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.3.id 0 %}">
                    <img src="{% static 'images/japanese.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.3}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.4.id 0 %}">
                    <img src="{% static 'images/coffee.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.4}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.5.id 0 %}">
                    <img src="{% static 'images/thai.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.5}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-1 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.6.id 0 %}">
                    <img src="{% static 'images/hamburger.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.6}}</h3>
                    </div></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <a href="{% url 'restaurants:category_detail' categories.7.id 0 %}">
                    <img src="{% static 'images/chicken.png'%}" class="img-responsive" width="255" height="322" alt="">
                    <div class="product-title">
                            <h3>{{categories.7}}</h3>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}