<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'restaurants:add_restaurant' %}">식당 정보 추가 페이지</a><br>
    <a href="{% url 'restaurants:add_menu_price' %}">메뉴 추가 페이지</a>
    <form action="{% url 'restaurants:map_search' %}" method="GET">
        <input placeholder="위치별 메뉴 검색" type="search" name="keyword">
        <button class="btn btn-outline-light" type="submit">검색</button>
    </form>
</body>
</html>