{% extends 'base.html' %}
{% load static %}
{% block title %}랜덤 메뉴 - 부엉아 밥먹자{%endblock%}
{% block link %}
{%endblock%}
{% block content %}
<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>랜덤 추천</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{% static 'images/random.gif'%}" width="400" height="" alt="">
                        <a href="{% url 'restaurants:random_menu_detail'%}"><img src="{% static 'images/buzzer.png'%}" onmouseover="this.src='{% static 'images/buzzer_active.png'%}'" onmouseout="this.src='{% static 'images/buzzer.png'%}'" width="150" height="100" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br>
{% endblock %}