{% block content %}

<div class="Log-in">
    <h1>Log in!</h1>

    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        Username : 
        <input name="username" type="text">
        <br>
        Password : 
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="login"></input>
        <button type="submit" class="btn btn-primary" value="signup"><a href={% url 'accounts:signup' %}>Sign-up</a></input>
    </form>
</div>
{% if validity == 1 %}
    <script type="text/javascript">
    alert("아이디 혹은 비밀번호가 맞지 않습니다.");
    </script>
    <script type="text/javascript">
    location.href="{% url 'accounts:login' %}";
    </script>
{% endif %}

{% endblock %}